[Unit]
Description=r-isucon-node
After=syslog.target

[Service]
WorkingDirectory=/home/isucon/r-isucon/webapp/nodejs/r-calendar
EnvironmentFile=/home/isucon/env.sh
Environment=PATH=/usr/local/node/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=NODE_ENV=production
PIDFile=/home/isucon/r-isucon/webapp/nodejs/r-calendar/server.pid

User=isucon
Group=isucon
ExecStart=/usr/local/node/bin/npm run dev
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
